'body':
  'alt-1': 'tree-view:toggle'
  'ctrl-e': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-n': 'fuzzy-finder:toggle-file-finder'

'atom-workspace atom-text-editor:not([mini])':
  'alt-1' 'tree-view toggle'
  'alt-left' 'pane show-previous-item'
  'alt-right' 'pane show-next-item'
  'ctrl-1' 'pane show-item-1'
  'ctrl-2' 'pane show-item-2'
  'ctrl-3' 'pane show-item-3'
  'ctrl-4' 'pane show-item-4'
  'ctrl-5' 'pane show-item-5'
  'ctrl-6' 'pane show-item-6'
  'ctrl-7' 'pane show-item-7'
  'ctrl-8' 'pane show-item-8'
  'ctrl-9' 'pane show-item-9'
  'ctrl-alt-s' 'settings-view open'
  'ctrl-d' 'editor duplicate-lines'
  'ctrl-down' 'editor add-selection-below'
  'ctrl-e' 'fuzzy-finder toggle-buffer-finder'
  'ctrl-l' 'go-to-line toggle'
  'ctrl-n' 'fuzzy-finder toggle-file-finder'
  'ctrl-shift-a' 'command-palette toggle'
  'ctrl-shift-down' 'editor move-line-down'
  'ctrl-shift-up' 'editor move-line-up'
  'ctrl-up' 'editor add-selection-above'
  'ctrl-w' 'editor select-word'
  'ctrl-y' 'editor delete-line'
