'body':
  'alt-`': 'tree-view:toggle'
  'alt-f4': 'tabs:close-tab'
  'ctrl-alt-left' : 'pane:show-previous-item'
  'ctrl-alt-right' : 'pane:show-next-item'
  'ctrl-e': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-n': 'fuzzy-finder:toggle-file-finder'

'.tree-view':
  'right': 'tree-view:open-selected-entry'

'atom-workspace atom-text-editor:not([mini])':
  'alt--': 'editor:fold-current-row'
  'alt-`': 'tree-view:toggle'
  'alt-=': 'editor:unfold-current-row'
  'alt-down': 'keyboard-scroll:scrollDownWithCursor'
  'alt-left': 'editor:move-to-previous-subword-boundary'
  'alt-right': 'editor:move-to-next-subword-boundary'
  'alt-up': 'keyboard-scroll:scrollUpWithCursor'
  'ctrl-[': 'bracket-matcher:go-to-matching-bracket'
  'ctrl-]': 'bracket-matcher:go-to-matching-bracket'
  'ctrl-\'': 'toggle-quotes:toggle'
  'ctrl-alt-left' : 'pane:show-previous-item'
  'ctrl-alt-right' : 'pane:show-next-item'
  'ctrl-alt-s': 'settings-view:open'
  'ctrl-backspace': 'editor:delete-to-beginning-of-subword'
  'ctrl-d': 'editor:duplicate-lines'
  'ctrl-down': 'editor:add-selection-below'
  'ctrl-e': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-enter': 'turbo-javascript:end-new-line'
  'ctrl-f3': 'find-and-replace:select-skip'
  'ctrl-l': 'go-to-line:toggle'
  'ctrl-n': 'fuzzy-finder:toggle-file-finder'
  'ctrl-o': 'advanced-open-file:toggle'
  'ctrl-shift-a': 'command-palette:toggle'
  'ctrl-shift-alt-down': 'git-diff:move-to-next-diff'
  'ctrl-shift-alt-up': 'git-diff:move-to-previous-diff'
  'ctrl-shift-backspace': 'editor:delete-to-beginning-of-word'
  'ctrl-shift-down':'editor:move-line-down'
  'ctrl-shift-up': 'editor:move-line-up'
  'ctrl-up': 'editor:add-selection-above'
  'ctrl-w': 'editor:select-word'
  'ctrl-y': 'editor:delete-line'
  'f2': 'linter:next-error'
  'f3': 'find-and-replace:select-next'
  'shift-f2': 'linter:previous-error'
